.textAnimation {
    background: linear-gradient(90deg, transparent 0%, #fff 0%);
    background-size: 200% 100%;
    animation: fadeBackground 1.5s ease forwards 1.5s;
    left: 32%;
}

.icon-animation {
    animation: moveIcon 2s ease infinite;
}



.loading-bar {
    position: relative;
    z-index: 5;
}


.favicon-anim {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* width: 180px; */
    width: 100%;
    left: -100%;
    animation: faviconAnimPosition 1s ease forwards 1.5s;
    /* faviconAnimWidth 2s ease forwards 1.5s, */
}

@keyframes faviconAnimPosition {
    0% {
        left: -100%;
    }

    100% {
        left: -100%;
    }
}

.faviconDisable {
    display: block;
    animation: displayNone 1s ease forwards 1.5s;

}

.faviconActive {
    opacity: 0;
    animation: faviconActive 1s ease forwards 2.5s;

}

@keyframes faviconActive {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes displayNone {
    0% {
        display: block;
    }

    100% {
        display: none;
    }
}

@keyframes faviconAnimWidth {
    0% {
        width: 180px;
    }

    100% {
        width: 100%;
    }
}



.pathLoading {
    width: 100%;
    right: 0;
    background: #fff;
    z-index: 9000;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    animation: expandRightToLeft 1.5s ease forwards;
}


@keyframes expandRightToLeft {
    from {
        right: 0;
        /* Comienza desde la derecha */
    }

    to {
        right: -100%;
        /* Termina a la izquierda */
    }
}

@keyframes width {
    to {
        width: 100%;
        /* Llena el fondo de izquierda a derecha */
    }
}

@keyframes fillBar {
    to {
        stroke-dashoffset: 0;
        /* Llenado completo de izquierda a derecha */
    }
}

@keyframes fadeBackground {
    0% {
        left: 32%;
    }

    100% {
        left: -100%;
    }
}

@keyframes moveIcon {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}